@model IEnumerable<Ambseny.WebAplication.Models.Users.EasyUserIdentity>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "UserClaims";
}

<h1>UserClaims</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Claim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Claim)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "UserEditor")).Succeeded)
                    {
                    <div class="row">
                        <div class="d-inline">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Profile", "Index", "Profile", new { id = item.Id })
                        </div>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "UserAdministrator")).Succeeded)
                        {
                            <div class="d-inline">
                                | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                        }
                    </div>
                    }
</td>
            </tr>
        }
    </tbody>
</table>
